/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */


/*
 * Examples
 * (To see them, uncomment and save)
 */

// style the background color of the tree view
.tree-view {
  // background-color: whitesmoke;
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  // color: white;
  // background-color: hsl(180, 24%, 12%);
}

// style UI elements inside atom-text-editor
atom-text-editor .cursor {
  // border-color: red;
}

.list-tree.has-collapsable-children .list-nested-item > .list-tree > li,
.list-tree.has-collapsable-children .list-nested-item > .list-group > li {
  padding-left: 8px;
}

.trailing-whitespace {
    text-decoration: line-through;
    text-decoration-color: #cc6666 !important;
    opacity: 0.7;
}

/* Material UI specific fixes */
.theme-atom-material-ui {
    .remote-ftp-view .ftptree-view.list-tree:focus .selected.entry:before,
    .remote-ftp-view > .offline .remote-ftp-offline-inner > ul > li a {
        background-color: #607d8b;
        color: rgba(255,255,255,0.8);
    }

    .remote-ftp-view > .offline .remote-ftp-offline-inner > ul > li a:hover {
        background-color: rgba(86,111,124, 0.8);
    }

    .atom-dock-open {
        .tab-bar .tab .title {
            text-align: center;
        }

        .tab-bar .tab.active {
            border-bottom: 2px solid #607d8b;
        }
    }
}
